<!doctype html>
<html>
<head>
    <style>
        .button {
            border-style: solid;
            width: 50px;
            height: 50px;
            float: left;

            display: flex;
            align-items: center;
            justify-content: center;

            user-select: none;
            background: bisque; 
        }

        .result {
            width: 220px;
            height: 50px;
            border-style: groove;
            display: flex;
            align-items: center;
            justify-content: flex-end
        }
    </style>
</head>
<body>
<div style="width: 226px; height: 282px; border-style: groove;">
    <div class="result">result</div>
    <div style="width: 168px; height: 232px; float: left;">
        <div>
            <div class="button" onclick="alert('7');">7</div>
            <div class="button">8</div>
            <div class="button">9</div>
        </div>
        <div style="clear: both;"></div>
        <div>
            <div class="button">4</div>
            <div class="button">5</div>
            <div class="button">6</div>
        </div>
        <div style="clear: both;"></div>
        <div>
            <div class="button">1</div>
            <div class="button">2</div>
            <div class="button">3</div>
        </div>
        <div style="clear: both;"></div>
        <div class="button" style="margin-left: 56px;">0</div>
    </div>
    <div style="width: 56px; height: 232px; float: left;">
        <div class="button">+</div>
        <div class="button">-</div>
        <div class="button">/</div>
        <div class="button">x</div>
    </div>
</div>
</body>
</html>