@{
    Layout = "_Layout";
}
<div>
    <input type="text" id="Username" placeholder="Kullanıcı Adı" /><br />
    <input type="password" id="Password" placeholder="Şifre" /><br />
    <input type="button" value="Giriş Yap" onclick="GuestBook.Page.GuestBook.Manage.Login();" />
</div>